#footer {
  background-color: #fff;
  position: relative; }
  #footer p {
    font-family: "Josefin Sans" !important;
    font-weight: 600 !important;
    font-size: 1.8rem !important; }
  #footer .footer-container-left {
    text-align: left;
    color: white;
    background-color: #89C8FC; }
  #footer .footer-container-left:hover {
    color: #89C8FC !important;
    background-color: #FFE6B3 !important; }
  #footer .footer-container-right {
    text-align: right;
    color: #4A90E2;
    background-color: #FFCB66; }
  #footer .footer-container-left:hover {
    color: #FFCB66 !important;
    background-color: #4A90E2 !important; }
