#taptile-page {
  background-color: #fff;
  color: #351700; }
  #taptile-page .title {
    color: #ec8300; }
  #taptile-page .title:before {
    background-color: #FFEF76; }
  #taptile-page .quote {
    color: #ec8300; }
  #taptile-page .emphasis:after {
    background-color: #ec8300; }
  #taptile-page .banner-text {
    background-color: rgba(255, 207, 20, 0.61); }
  #taptile-page .banner-text h1 {
    color: #c48000; }
  #taptile-page .banner-text p {
    color: #c48000; }
  #taptile-page .left-vertical-line {
    border-left: 0.4rem solid #ec8300; }
  #taptile-page .progress-container a {
    color: #351700; }
  #taptile-page .progress-container:hover {
    background-color: white; }
  #taptile-page .project-navbar a {
    color: #351700; }
  #taptile-page .project-navbar .text-link:before {
    background-color: black; }
  #taptile-page .project-navbar .text-link:after {
    background-color: black; }
  #taptile-page .project-nav-background {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.12); }
