.work-container-outer {
  position: abosolute;
  width: 100%;
  height: 200vh; }

#work-content {
  z-index: 5;
  transition: all 1s ease-in-out; }

.hidden {
  opacity: 0;
  transform: translateY(1rem); }

.show {
  opacity: 1;
  transform: translateY(0); }

.work-scope .test {
  background-color: red;
  height: 300vh; }

.work-scope .title {
  font-family: 'Halant';
  font-size: 3.5rem;
  color: #0F3351; }

.work-scope .text {
  font-family: 'Halant';
  font-size: 1.3rem;
  color: #0F3351; }

.work-scope .margin-top-page-start {
  margin-top: 20vh; }

.work-scope .margin-top-1 {
  margin-top: 5rem; }

.work-scope .margin-top-2 {
  margin-top: 3rem; }

.work-scope .thumbnail {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.1, 0.29, 0, 1); }

.work-scope .thumbnail-light:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }

.work-scope .thumbnail-dark:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }

.work-scope .thumbnail-text-container {
  display: flex;
  flex-direction: column; }
  .work-scope .thumbnail-text-container div {
    margin-left: 3rem; }
  .work-scope .thumbnail-text-container .title {
    font-family: 'Josefin Sans';
    font-size: 2rem;
    color: #0F3351; }
  .work-scope .thumbnail-text-container .text {
    font-family: 'Halant';
    font-size: 1.3rem;
    color: #0F3351; }

@media (max-width: 600px) {
  .work-scope .title {
    font-family: 'Halant';
    font-size: 3rem;
    color: #0F3351; }
  .work-scope .hide-when-small {
    display: none; } }
