@import '../_shared.scss';

.work-container-outer {
	position: abosolute;
	width: 100%;
	height: 200vh
}

.work-scope {
	.test {
		background-color: red;
		height: 300vh
	}


.title {
	font-family: 'Halant';
	font-size: 3.8rem;
	color: $color-primary
}

.text {
	font-family: 'Halant';
	font-size: 1.3rem;
	color: $color-primary
}

.margin-top-page-start {
	margin-top: 10rem
}

}