@import '_shared.scss'; 

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container-center-inside {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
}

.container-center-horizontal {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.width-10 {
  width: 10%;
}


.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.img-max-width-1 {
  max-width: 800px;
}

.img-max-width-2 {
  max-width: 500px;
}

.img-max-width-3 {
  max-width: 300px;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}*/

#home-scroll-helper {
  position: absolute;
  width: 100%;
  height: 200vh;
  display: block;
  visibility: hidden
}

#home-scroll-wrapper {
  position: absolute;
  width: 100%;
  height: 200vh;
  display: block;
}

 
.letter-k{  /* responsive */
  display:block;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  transition: opacity 1s ease-in-out 0s;
  height: 15%;
  filter: drop-shadow(0 0 10px rgba(35, 96, 206, 0.27) )
}

.letter-k-hidden {
  opacity: 0;
}

.letter-k-show {
  opacity: 1;
}

.hide {
  display: none
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  z-index: 5;
  opacity: 1;
  transition: opacity 1s ease-in-out 0s;
}


/*#intro {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%,-50%);
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out 0s;
  -o-transition: opacity 1s ease-in-out 0s;
  transition: opacity 1s ease-in-out 0s;
  color: #f4f4f4;
  font-family: Noto Sans,sans-serif;
  overflow:scroll;
}*/

.test {
  width: 50%;
  height: 200%;
  background-color: yellow;
}


.intro-show {
  transition: opacity 1s ease-in-out 0s;
  opacity: 1 !important;
}




.home-content-hidden {
  display: none;
}

.home-content-show {
  display: block;
}

#home-content {
  width: 100%;
  position: absolute;
  transition: opacity 1s cubic-bezier(0.51, 0.6, 0.17, 1);
  /*animation: home-appear 1s 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;*/
}



@keyframes logo-left-part-appear {
  from {
    display: block;
    opacity: 0;
    transform: translateX(-20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#left-part {
  display: block;
  /*transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);*/
  /*transform: translateX(-20%);
  -webkit-transform: translateX(-20%);*/

  animation: logo-left-part-appear 1s 1;
  /*filter: drop-shadow( -5px -5px 5px #000 );*/
}

#right-part {
  /*transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);*/
}

@keyframes logo-right-part-reappear {
  from {
    opacity: 0;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-part-reappear {
  display: block;
  /*transform: translateX(-20%);
  -webkit-transform: translateX(-20%);*/
  animation: logo-right-part-reappear 1s 1;
  /*animation-fill-mode: forwards;*/
}

.content-hide {
  display: none;
}

.content-show {
  display: block;
}

@keyframes flipUpper {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  1% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }

  3% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 30deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 30deg);
    opacity: 1;
  }

  4% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }
  6% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  /*70% {
    transform-origin: bottom;
    -moz-transform-origin: 100% 50%;
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.7;
  }*/

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}

@keyframes flipUpper-hover {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  3% {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  9% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }

  11% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 30deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 30deg);
    opacity: 1;
  }

  12% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }
  14% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  15% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }
  17% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  /*70% {
    transform-origin: bottom;
    -moz-transform-origin: 100% 50%;
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.7;
  }*/

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}

@keyframes try {
  from {
    transform-origin: 50% 100%;
    -moz-transform-origin: 100% 50% ;
    transform: perspective(1200px);
    opacity: 1;
  }

  to {
    transform-origin: 50% 100%;
    -moz-transform-origin: 100% 50% ;
    transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    -moz-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
    opacity: 0.8;
    /*fill: #93d6f0;*/

  }
}


@keyframes flipLower {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  1% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    /*fill: #93d6f0;*/
    opacity: 0.8;

  }

  3% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -45deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -45deg);
    opacity: 1;
  }

  4% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    /*fill: #93d6f0;*/
    opacity: 0.8;

  }
  6% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}

@keyframes flipLower-hover {
  from {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  3% {
    -webkit-transform: perspective(1200px);
    transform: perspective(1200px);
    opacity: 1;
  }

  9% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    /*fill: #93d6f0;*/
    opacity: 0.8;

  }

  11% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -45deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -45deg);
    opacity: 1;
  }

  12% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    /*fill: #93d6f0;*/
    opacity: 0.8;

  }
  14% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  15% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(1200px) rotate3d(1, 0, 0, -90deg);
    /*fill: #93d6f0;*/
    opacity: 0.8;

  }
  17% {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    transform: perspective(1200px) rotate3d(1, 0, 0, 0);
    opacity: 1;
  }
}



.flipLower {
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -webkit-transform-origin: 0 152.5px;
  -moz-transform-origin: 0 152.5px;
  transform-origin: 0 152.5px;
  backface-visibility: visible !important;
  /*transform: perspective(1200px) rotate3d(1, 0, 0, -45deg);*/
  -webkit-animation: flipLower 8s infinite;
  animation: flipLower 8s infinite;
  animation-delay: 2s;
  transition: all 0.3s cubic-bezier(0.7, 0.3, 0, 1);
}

.flipUpper {
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -webkit-transform-origin: 0 152.5px;
  -moz-transform-origin: 0 152.5px;
  transform-origin: 0 152.5px;
  backface-visibility: visible !important;
  -webkit-animation: flipUpper 8s infinite;
  animation: flipUpper 8s infinite;
  /*-webkit-transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);
  transform: perspective(1200px) rotate3d(1, 0, 0, 60deg);*/
  animation-delay: 2s;
  transition: all 0.3s cubic-bezier(0.7, 0.3, 0, 1);
}

/*#wing:hover > path {
  animation-play-state: paused;
}*/


.letter-k:hover #upperWing {
  animation: flipUpper-hover 6s 1;
}

.letter-k:hover #lowerWing {
  animation: flipLower-hover 6s 1;
}

#wing {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.7, 0.3, 0, 1);
}

#wing:hover {
  /*transform: translateX(15px);*/
  /*-webkit-transform: translateX(15px);*/
  transform-origin: 50% 50%;
  transform: scale(1.2);
}

#background-1 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-out;
}

#background-2 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-out;
  /*background: linear-gradient(#f1ccb0, #bcb8f0);*/
  background-color: #fff
}

#background-3 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transition: opacity 1.5s ease-out;
  /*background: linear-gradient(#d0e8de, #f7ecc9);*/
  background-color: #fff
}

.vertical-line {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  width: 2px;
  border-width: 0rem 1rem 0rem 1rem;
  border-color: rgba(0, 0, 0, 0);
  height: 20%;
  //background-color: #ccf4ff;
  background-color: #fff;
  //border-radius: 90px 120px 120px 90px;
  //border-radius: 100px;
  border-style: solid;
  background-clip: padding-box;
  box-sizing: content-box;
  top: 40%;
  /*transition: all 1.2s cubic-bezier(0.83, -0.24, 0.21, 1.21)*/
  transition: all 0.5s cubic-bezier(0.32,-0.12, 0.16, 1.14);
}

.vertical-line:hover {
  transition: width 0.3s cubic-bezier(0.32,-0.12, 0.16, 1.14);
  width: 0.8rem
}

.vertical-line-left-home {
  //left: 5%;
  right: 95%
}

.vertical-line-left-playground {
  transform: scaleY(0.5);
  //left: 3%;
  right: 97%;
  opacity: 0;
}

.vertical-line-left-work {
  //left: 95%;
  right: 5%;
  transform: translateX(-2px);
  opacity: 0;
}

.vertical-line-right-home {
  //right: 5%;
  left: 95%
}

.vertical-line-right-playground {
  //right: 95%;
  left: 5%;
  transform: translateX(2px);
  opacity: 0;
}

.vertical-line-right-work {
  transform: scaleY(0.5);
  //right: 3%  ;
  left: 97%;
  opacity: 0;
}

.center-container {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

#scroll-indicator-container-outer {
  position: fixed;
  width: 100%;
  top: 100%;
  transform: translateY(-100%);
  z-index: 15;
}

#scroll-indicator-container-inner { 
  width: 10%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  cursor:pointer;
  color: $color-primary;
  font-family: $font-primary;
  font-size: 11px;
  font-weight: 700;
}

#down-arrow {
  width: 1rem;
  height: 1rem;
  margin: 1rem 0 1.5rem 0;
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
}

#highlight:after {
  content: '';
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: block;
  /* padding-top: 100%; */
  position: absolute;
  left: 50%;
  top:0;
  z-index: -1;
  background-color: black;
  opacity: 0;
  transform: translate(-50%, 1rem) scale(0);
  transition: all 0.5s cubic-bezier(0.1, 0.29, 0, 1);
}




  #scroll-indicator-container-inner:hover #highlight:after{
    opacity: 0.1;
    transform: translate(-50%, 1rem) scale(1);
  }

  #scroll-indicator-container-inner:active #highlight:after{
    opacity: 0.2;
  }

@media (hover: none) {
    #scroll-indicator-container-inner:hover #highlight:after{
      opacity: 0;
      transform: translate(-50%, 1rem) scale(0);
    }

    #scroll-indicator-container-inner:active #highlight:after{
      opacity: 0.2;
      transform: translate(-50%, 1rem) scale(1);
    }
}




.arrow-up {
  transform: rotate(180deg);
}

.arrow-down {
  transform: rotate(0deg);
}

#greeting-text {
  animation: blink 1.5s infinite;
  transition: all cubic-bezier(0.7, 0.3, 0, 1);
}

@keyframes blink {
    from {
      opacity: 1;
    }


    60% {
      opacity: 1;
    }

    85% {
      opacity: 0.15;
    }


    to {
      opacity: 1;
    }
}

.greeting-show {
  visibility: visible;
}

.greeting-hidden {
  visibility: hidden;
}


.headroom {
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  right: 0;
  transition: all 200ms ease-in-out;
  z-index: 15;
  display: flex;
  justify-content: center
}

.headroom-wrapper {
  position: fixed;
  z-index: 20;
  width: 100%
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

#nav-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.12);
  z-index: -1;
}

.nav-home {
  transition: all 0.1s linear;
  opacity: 0
}

.nav-work {
  transition: all 0.1s 1s linear;
  opacity: 1
}





#navbar {
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  z-index: 16;
  color: $color-primary;
  font-family: $font-primary;
  font-size: 11px;
  font-weight: 700;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navbar a {
  color: #0F3351;
}

#navbar .text-link {
  z-index: 2;
  margin: 0 30px;
  cursor: pointer;
}

#navbar  .text-link:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  top: 18px;
  z-index: 7;
  left: 0;
  background-color: $color-primary;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transform-origin: left;
  will-change: transform;
}

#navbar .text-link:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


#navbar  .text-link:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  z-index: 8;
  left: 0;
  background-color: $color-primary;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transform-origin: right;
}

#navbar .name-container {
  z-index: 1;
}

@media (max-width : 1023px) {
    #navbar .name-container {
      display: none
    }

  }

#navbar .name {
  z-index: 2;
  position: relative;
}



.nav-container-outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.text-reveal:after {
  content: '';
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fac466;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-reveal;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}

@keyframes text-reveal {
  0%, 50% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
  }
  60%, 100% {
      -webkit-transform-origin: 100% 50%;
      transform-origin: 100% 50%;
  }
  60% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  100% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
  }
}


.after-animation:after {
  visibility: visible !important;
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}

.initial-background {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  display: block;
  border-radius: 50%;
  width: 100%;
  padding-top: 100%;
  /*transform-origin: 50% 50%;*/
  background-color: #fac466;
}

.initial-background-shrink {
  transition: transform 2s cubic-bezier(1,.05,.44,.97) 0s, background-color 2s cubic-bezier(1,.05,.44,.97) 0s;
  /*transition: all 1s ease-in-out 0s;*/
  transform: translate(-50%, -50%) scale(0) !important;
  /*background-color: #4cc9f8;*/
}





.text-animation-1 {
  animation: text-appear-1 1s 1;
  opacity: 0;
}

.text-animation-2 {
  animation: text-appear-2 1s 1;
  opacity: 0;
}

.text-animation-3 {
  animation: text-appear-2 1s 1;
  opacity: 0;
}

.expandable {
  cursor: zoom-in;
  transition: all 0.5s cubic-bezier(0.1, 0.29, 0, 1);
}

.expandable:hover {
  transform: scale(1.008)
}

.have-big {
  cursor: zoom-in;
}












