body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

html {
    overflow-y: scroll;
}

