.intro-outer-container {
	width: 90%;
	margin: 0 auto;
	position: relative;
	top: 5%;
	height: calc(95% - 5rem);
}

.intro-outer-container::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.intro-inner-container {
	height: 100%;
}

.intro-margin-top-1 {
	margin-top: 5rem;
}

.intro-margin-top-2 {
	margin-top: 2rem;
}

.intro-margin-top-3 {
	margin-top: 1rem;
}

.name {
	color: #fff;
	font-family: 'Josefin Sans';
	font-size: 4.5rem;
	font-weight: 600;
}

.intro-text {
	color: #364C5E;
	font-family: 'halant';
	font-size: 1.8rem;
	font-weight: 500;
}

.intro-link {
	color: #364C5E;
	font-family: 'Josefin Sans';
	font-size: 1.8rem;
	font-weight: 500;
}

#portrait {
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.intro-left-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
