/*@import '../_shared.scss'; */

.project-page {

$color-1: #ec8300;

$font-primary: 'Josefin Sans';

$font-secondary: 'Halant';



.my-container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
}

.my-container-big {
	width: 100%;
}

@media (min-width: 601px) {
	.my-container {
		width: 80%;
	}
}

@media (min-width: 993px) {
	.my-container {
		width: 65%;
	}
}

@media (min-width: 1201px) {
	.my-container {
		width: 55%;
	}
}




.container-center-inside {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
}

.container-center-horizontal {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
}

h2 {
	font-family: $font-primary;
	font-size: 1.8rem;
	font-weight: 600;
}

p {
	font-family: $font-secondary;
	font-size: 1.4rem;
	font-weight: 400;
}

.title {
	font-weight: 600;
}

.title:before {
	/*content: '';*/   /* currented hided*/
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: block;
    /* padding-top: 100%; */
    position: absolute;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.quote {
	font-family: $font-secondary;
	font-size: 1.5rem;
	font-weight: 600;
}

.important {
	font-weight: 600;
}

.emphasis {
	display: inline-block;

}

.emphasis:after {
	content: "";
	position: relative;
	display: block;
	width: 100%;
	height: 0.3rem;
	z-index: -1;
	transform: translateY(-0.5rem);
}

.key-word {
	font-weight: 600
}

.margin-top-1 {
	margin-top: 15rem;
}

.margin-top-2 {
	margin-top: 8rem;
}

.margin-top-3 {
	margin-top: 5rem;
}

.no-margin-bottom {
	margin-bottom: 0;
}

@media (max-width : 992px) {
	.margin-top-1 {
		margin-top: 4rem;
	}

	.margin-top-2 {
		margin-top: 2.5rem;
	}
}




.banner-container {
	width: 100%;
	height: 100vh;
	/*background-color: #ffe381;*/
	overflow: hidden;
	position: relative;
}

.banner-container-inner {
	width: 100%;
	height: 100%;
	position: absolute;
}

.banner-img {
	/*height: 90%;*/
	height: 80%;
	/*max-width: 90%;*/
	display: block;
	z-index: 1;
}

.banner-text {
	display: inline-block;
	border-radius: 0.5rem;
    /*padding: 0 1.5rem 0 1.5rem;*/
    padding: 0 6rem 0 6rem;
    z-index: 2;
}

.banner-text h1 {
	font-family: $font-primary;
	display: inline-block;
	margin: 1.5rem 0 1.5rem 0;

}

.banner-text p {
	font-family: $font-primary;
	font-size: 2rem;
	margin: 0 0 1.5rem 0;
}

.logo-tt {
	margin-left: 3rem;
}

.info-container {
	/*background-color: #ffe381;*/
}

.info-container .label {
	text-align: right;
}

.info-container .content {
	text-align: left;
	font-weight: 500;
}

.info-container p {
	margin: 0rem 0 0rem 0;
}

.info-container .row {
	margin: 0.5em 0 0.5em 0;
}

.left-vertical-line {
	padding-left: 1.6rem;
}

.shadow {
	box-shadow: 0 2px 21px #eaeaea
}




/* progress */
.progress-container {
	z-index: 100;
	position: fixed;
	top: 50%;
	width: 115px;
	transform: translateY(-50%);
	right: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: 'Josefin Sans';
	display: block;
	transition: all 0.3s cubic-bezier(0.7, 0.3, 0, 1);
	border-radius: 2px;


	a {
		display: block;
		text-align: left;
		cursor: pointer;
		margin: 0.5rem 1rem;
		opacity: 0.3;
	}

	a:hover {
		opacity: 1;
		font-weight: 600
	}

	.circle {
		display: none;
		margin-left: 0.5rem;
	}

	.circle:before {
		content: '\25CF';
	}

	.scroll-active {
		opacity: 1;
	}
}

.progress-container:hover a {
	opacity: 0.8;
}


.progress-responsive-position {
	display: none;
	right: 5%;
}


@media (min-width: 601px) {
	.my-containera {
		width: 95%;
	}
	.progress-responsive-position {
		display: block;
		right: 1%;
	}
}

@media (min-width: 993px) {
	.my-containera {
		width: 65%;
	}
	.progress-responsive-position {
		display: block;
		right: 5%;
	}
}

@media (min-width: 1201px) {
	.my-containera {
		width: 55%;
	}
	.progress-responsive-position {
		display: block;
		right: 10%;
	}
}



/* Nav */
.project-navbar {
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  z-index: 16;
  color: black;
  font-family: $font-primary;
  font-size: 11px;
  font-weight: 700;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-navbar a {
  margin: 0 30px;
  cursor: pointer;
}

.project-navbar  a:before {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  top: 18px;
  z-index: 7;
  left: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transform-origin: left;
  will-change: transform;
}

.project-navbar > a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.project-navbar  a:after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  z-index: 8;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
  transform-origin: right;
}

.project-nav-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}


.caption {
	opacity: 0.8;
	display: flex;
	justify-content: center
}

.italic {
	font-style: italic;
}

.emphasis-new {
	text-decoration: underline;
}

.loader {
	width: 200px;
}



}

