#misc {
  /* Nav */ }
  #misc #work-content {
    z-index: 5;
    transition: all 1s ease-in-out; }
  #misc .hidden {
    opacity: 0;
    transform: translateY(1rem); }
  #misc .show {
    opacity: 1;
    transform: translateY(0); }
  #misc .title {
    font-family: 'Halant';
    font-size: 3.5rem;
    color: #0F3351; }
  #misc .text {
    font-family: 'Halant';
    font-size: 1.3rem;
    color: #0F3351; }
  #misc .margin-top-page-start {
    margin-top: 20vh; }
  #misc .margin-top-1 {
    margin-top: 5rem; }
  #misc .margin-top-2 {
    margin-top: 3rem; }
  #misc .thumbnail {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.5s cubic-bezier(0.1, 0.29, 0, 1); }
  #misc .thumbnail-light:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1); }
  #misc .thumbnail-dark:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
  #misc .thumbnail-text-container {
    display: flex;
    flex-direction: column; }
    #misc .thumbnail-text-container div {
      margin-left: 3rem; }
    #misc .thumbnail-text-container .title {
      font-family: 'Josefin Sans';
      font-size: 2rem;
      color: #0F3351; }
    #misc .thumbnail-text-container .text {
      font-family: 'Halant';
      font-size: 1.3rem;
      color: #0F3351; }
  @media (max-width: 600px) {
    #misc .title {
      font-family: 'Halant';
      font-size: 3rem;
      color: #0F3351; }
    #misc .hide-when-small {
      display: none; } }
  #misc .project-navbar {
    transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    z-index: 16;
    color: black;
    font-family: "Josefin Sans";
    font-size: 11px;
    font-weight: 700;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
  #misc .project-navbar .text-link {
    margin: 0 30px;
    cursor: pointer;
    z-index: 2; }
  #misc .project-navbar .text-link:before {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    top: 18px;
    z-index: 7;
    left: 0;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transform-origin: left;
    will-change: transform; }
  #misc .project-navbar .text-link:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  #misc .project-navbar .text-link:after {
    content: "";
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    z-index: 8;
    left: 0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transition: all 0.65s cubic-bezier(0.7, 0.3, 0, 1);
    transform-origin: right; }
  #misc .project-nav-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(128, 128, 128, 0.12); }
  #misc .project-navbar a {
    color: #0F3351; }
  #misc .project-navbar a:before {
    background-color: #0F3351; }
  #misc .project-navbar a:after {
    background-color: #0F3351; }
  #misc .shadow {
    box-shadow: 0 2px 21px #eaeaea; }
  #misc .back-container {
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between; }
  #misc .back-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 50px;
    cursor: pointer; }
  #misc .back-wrapper:after {
    content: '';
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    /* padding-top: 100%; */
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    opacity: 0.1;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.5s cubic-bezier(0.1, 0.29, 0, 1); }
  #misc .back-wrapper:hover:after {
    opacity: 0.1;
    transform: translate(-50%, -50%) scale(1); }
  #misc .back-arrow {
    width: 24px;
    vertical-align: middle; }
  #misc .back-container a {
    margin: 0 50px !important; }
  #misc .name {
    z-index: 2;
    position: relative; }
  @media (max-width: 1023px) {
    #misc .name-container {
      display: none; } }
  @media (max-width: 830px) {
    #misc .back-container {
      display: none; } }
